h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Serif Bengali", Georgia, "Times New Roman", Times, serif;
}

html {
    font-family: "Baloo Da 2", Arial, Helvetica, sans-serif;
}

.theme-base-10 .post-toc,
.theme-base-10 .footer-iconbar {
    background-color: #161925;
}

/* Blog post table of contents*/
.post-toc {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 0.5rem;
    animation: slide-in-left 0.5s;
}

.post-toc,
.post-toc a {
    color: rgba(255, 255, 255, 0.6);
}

.post-toc-item.active,
.post-toc-item.active::marker {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent;
}

.post-toc.hide {
    visibility: none;
    transform: translateX(-100vw);
}

.close-toc::before {
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 32px;
    content: "";
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
}

.footer-iconbar {
    position: fixed;
    right: 0;
    bottom: 0;
    animation: slide-in-right 0.5s;
    padding: 0.5rem;
    padding-right: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.toc-icon,
.go-to-top,
.facebook-share,
.twitter-share,
.linkedin-share,
.reddit-share,
.facebook-share::before,
.twitter-share::before,
.linkedin-share::before,
.reddit-share::before,
.toc-icon::before,
.go-to-top::before {
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 32px;
    content: "";
}

.toc-icon::before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M40 48C26.7 48 16 58.7 16 72l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24L40 48zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L192 64zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zM16 232l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0z'/%3E%3C/svg%3E") no-repeat center center;
}

.go-to-top::before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 384 512'%3E%3Cpath fill='%23fff' d='M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2 160 448c0 17.7 14.3 32 32 32s32-14.3 32-32l0-306.7L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z'/%3E%3C/svg%3E") no-repeat center center;
}

.toc {
    height: calc(100% - 2.5rem);
    overflow: auto;
}

.toc-title {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toc__list {
    padding-left: 1.25rem;
    font-size: 0.8rem;
}

.post-cover-image {
    width: 100%;
}

.post-cover-image img {
    width: 100%;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    gap: 0.5rem;
    max-width: 400px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.search-form input {
    border: none;
    padding: 0.5rem;
    width: 100%;
    padding-left: 2rem;
}

.search-form .search-button {
    position: absolute;
    left: 0.5rem;
    height: 24px;
    width: 24px;
}

.search-form .search-button img {
    margin: 0;
}

.facebook-share::before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 512 512'%3E%3Cpath fill='%231877F2' d='M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z'/%3E%3C/svg%3E") no-repeat center center;
}

.twitter-share {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 448 512'%3E%3Cpath fill='%23000' d='M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z'/%3E%3C/svg%3E") no-repeat center center;
}

.linkedin-share {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 448 512'%3E%3Cpath fill='%230077B5' d='M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z'/%3E%3C/svg%3E") no-repeat center center;
}

.reddit-share {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 512 512'%3E%3Cpath fill='%23FF4500' d='M0 256C0 114.6 114.6 0 256 0S512 114.6 512 256s-114.6 256-256 256L37.1 512c-13.7 0-20.5-16.5-10.9-26.2L75 437C28.7 390.7 0 326.7 0 256zM349.6 153.6c23.6 0 42.7-19.1 42.7-42.7s-19.1-42.7-42.7-42.7c-20.6 0-37.8 14.6-41.8 34c-34.5 3.7-61.4 33-61.4 68.4l0 .2c-37.5 1.6-71.8 12.3-99 29.1c-10.1-7.8-22.8-12.5-36.5-12.5c-33 0-59.8 26.8-59.8 59.8c0 24 14.1 44.6 34.4 54.1c2 69.4 77.6 125.2 170.6 125.2s168.7-55.9 170.6-125.3c20.2-9.6 34.1-30.2 34.1-54c0-33-26.8-59.8-59.8-59.8c-13.7 0-26.3 4.6-36.4 12.4c-27.4-17-62.1-27.7-100-29.1l0-.2c0-25.4 18.9-46.5 43.4-49.9l0 0c4.4 18.8 21.3 32.8 41.5 32.8zM177.1 246.9c16.7 0 29.5 17.6 28.5 39.3s-13.5 29.6-30.3 29.6s-31.4-8.8-30.4-30.5s15.4-38.3 32.1-38.3zm190.1 38.3c1 21.7-13.7 30.5-30.4 30.5s-29.3-7.9-30.3-29.6c-1-21.7 11.8-39.3 28.5-39.3s31.2 16.6 32.1 38.3zm-48.1 56.7c-10.3 24.6-34.6 41.9-63 41.9s-52.7-17.3-63-41.9c-1.2-2.9 .8-6.2 3.9-6.5c18.4-1.9 38.3-2.9 59.1-2.9s40.7 1 59.1 2.9c3.1 .3 5.1 3.6 3.9 6.5z'/%3E%3C/svg%3E") no-repeat center center;
}